@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif,"Olympia";
}
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
@font-face {
  font-family: "Aeonik";
  src: url("/font/AeonikTRIAL-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


@layer base {
  .font-aeonik {
    font-family: "Aeonik", sans-serif;
  }
}
